---
import ContentBox from "../../components/content-box.astro";

export const title = "Accordions";
---

<ContentBox title={title}>
	<details open>
		<summary>Accordion 1</summary>
		<p>...</p>
	</details>
</ContentBox>
