---
import ContentBox from "../../components/content-box.astro";
---

<ContentBox title="buttons">
	<button>primary</button>
	<button>secondary</button>
	<button>tertiary</button>
	<button>none</button>
</ContentBox>
