---
import ContentBox from "../../components/content-box.astro";
import Icon from "../../components/icon.astro";

export const title = "Buttons";
---

<ContentBox title={title}>
	<div>
		<button data-variant="primary">primary</button>
		<button data-variant="secondary">secondary</button>
		<button data-variant="tertiary">tertiary</button>
		<button data-variant="none">none</button>
		<button data-variant="primary" disabled>disabled</button>
	</div>
	<div>
		<button data-variant="primary"><Icon icon="alert-triangle" /> with icon</button>
		<button data-variant="primary">with icon <Icon icon="upload" /> </button>
		<button data-variant="primary"
			><Icon icon="settings" /> with 2 icons <Icon icon="arrow-down-circle" />
		</button>
	</div>
</ContentBox>
