---
import Accordions from "./accordions.astro";
import Buttons from "./buttons.astro";
import FormControls from "./form-controls.astro";
import FormInputs from "./form-inputs.astro";
import Links from "./links.astro";
import Lists from "./lists.astro";
import Texts from "./texts.astro";
import Popups from "./popups.astro";
---

<main>
	<Buttons />
	<Links />
	<Texts />
	<Lists />
	<Accordions />
	<Popups />
	<FormControls />
	<FormInputs />
</main>

<style>
	main {
		display: grid;
	}
</style>
