---
import ContentBox from "../../components/content-box.astro";
import Icon from "../../components/icon.astro";

export const title = "Icons";

const allIcons = await Astro.glob("../../svg/*.svg");

const getFileNameFromSrc = (srcUrl: string) => {
	return srcUrl.split("/svg/").at(-1)?.split(".svg")?.at(0) ?? "x-circle";
};
---

<ContentBox title={title}>
	<ul>
		{
			allIcons.map(({ default: svg }) => (
				<li>
					<Icon icon={getFileNameFromSrc(svg.src)} />
				</li>
			))
		}
	</ul>
</ContentBox>
