---
import ContentBox from "../../components/content-box.astro";

export const title = "Links";
---

<ContentBox title={title}>
	<a href="#">anchor link</a>
	<a href="#" aria-current="page">page link</a>
	<a href="#">external link</a>
	<a href="#">unstyled</a>
</ContentBox>
