---
import ContentBox from "../../components/content-box.astro";

export const title = "Lists";
---

<ContentBox title={title}>
	<ul>
		<li>unsorted</li>
	</ul>

	<ol>
		<li>sorted</li>
	</ol>
</ContentBox>
