---
import ContentBox from "../../components/content-box.astro";
---

<ContentBox title="Dialog">
	<dialog id="dialog" popover>something</dialog>
	<button popovertarget="dialog">open dialog</button>
</ContentBox>
