---
import ContentBox from "../../components/content-box.astro";

export const title = "Popups";
---

<ContentBox title={title}>
	<dialog id="dialog" popover>something</dialog>
	<button popovertarget="dialog">open dialog</button>
</ContentBox>
