---
import ContentBox from "../../components/content-box.astro";
---

<ContentBox title="texts">
	<p>normal text</p>
	<span>inline text</span>
	<a>Anchor</a>
	<em>Emphasis</em>
	<small>Small</small>
	<strong>Strong</strong>
	<u>Underline</u>
	<abbr>abbr</abbr>
	<del>deletion</del>
	<ins>insertion</ins>
	<kbd>keyboard shortcut</kbd>
	<mark>highlighted</mark>
	<s>striked through</s>
	<sub>sub</sub>
	<sup>sup</sup>

	<blockquote>
		“Design is a funny word. Some people think design means how it looks. But of course, if you dig
		deeper, it's really how it works.”
		<footer>
			<cite>— Steve Jobs</cite>
		</footer>
	</blockquote>

	<h1>Heading</h1>
	<h2>Heading</h2>
	<h3>Heading</h3>
	<h4>Heading</h4>
	<h5>Heading</h5>
	<h6>Heading</h6>

	<hgroup>
		<h2>Get inspired with CSS</h2>
		<p>How to use CSS to add glam to your Website?</p>
	</hgroup>
</ContentBox>
