@font-face {
	font-family: "Press Start 2P";
	src: url("/fonts/pressStart2p.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

*,
::after,
::before {
	box-sizing: border-box;
}

:where(*) {
	margin: 0;
	padding: 0;
}

:where(html) {
	font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", system-ui, sans-serif;
	line-height: 1.5;

	@media (prefers-reduced-motion: no-preference) {
		& :focus-within {
			scroll-behavior: smooth;
		}
	}
}

:where(body) {
	min-height: 100dvh;
}

:where(h1, h2, h3, button, input, label) {
	line-height: 1.1;
}

:where(h1, h2, h3) {
	text-wrap: balance;
}

:where(select, button, input, textarea) {
	font: inherit;
}

:where(img, picture) {
	max-width: 100%;
	display: block;
}

:where(picture:has(img)) {
	height: 100%;
	object-fit: contain;

	& img {
		height: 100%;
		width: 100%;
	}
}

:where(video) {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

:where(a, button, input, summary),
:where(label:has(input)) {
	cursor: pointer;
}

:where(svg) {
	height: 100%;
	width: 100%;
}

:focus-visible {
	--outline-size: max(2px, 0.15em);

	outline: var(--outline-width, var(--outline-size)) var(--outline-style, solid)
		var(--outline-color, currentColor);
	outline-offset: var(--outline-offset, var(--outline-size));
	scroll-padding-block-end: 8vh;
}

:target {
	scroll-padding-block-start: 2rem;
}
:focus {
	scroll-padding-block-end: 8vh;
}
