---
import ComponentsPreview from "../features/components-preview/components-preview.astro";
import Layout from "../layout/page.astro";
---

<Layout title="design system">
	<nav></nav>
	<header><h1>Astro</h1></header>
	<ComponentsPreview />
	<footer></footer>
</Layout>

<style is:global>
	body {
		display: grid;
		grid-template-areas:
			"nav header"
			"nav main"
			"nav footer";
		grid-template-columns: max-content 1fr;

		> nav {
			grid-area: nav;
		}

		> header {
			grid-area: header;
		}

		> main {
			grid-area: main;
		}

		> footer {
			grid-area: footer;
		}
	}
</style>
